.general {
  display: flex;
  height: 100vh;
}

.aside {
  width: 200px;
  padding: 5px;
  background: #121212;
  color: white;
}

.main {
  flex: 1;
  padding: 20px;
  background: #0D0D0D;
  color: white;
}